<h1>ANALYTICS</h1>
<br>
<br>
<h3>TOTAL NUMBER OF SALES PER ORDER</h3>
<p><%= User.total_number_sales_per_order %></p>
<br>
<h3>TOTAL AMOUNT OF SALES PER ORDER</h3>
<p><%= User.total_amount_sales_per_order %></p>
<br>
<h3>COST OF GOODS SOLD</h3>
<p><%= User.cost_of_good_sold %></p>
<br>
<h3>PROFIT</h3>
<p><%= User.profit%></p>
<br>
