// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  p {
      margin: 8px;
  }

  li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width:200px;
    position: relative;
  }
  
  li:hover {
    color: #DBE9EE;
  }

  .main_image {
    text-align: center;
    width: 90%;
    position: relative;
    top: 10px;
    height:90%;
    margin-top:0px;
    margin-left: 5%
  }

  .menu {
    position: relative; 
  }

  
